#redes.d-none.d-md-block
    img.img-fluid(src='https://1.bp.blogspot.com/-jRNInoFMKEQ/X39dG48u_9I/AAAAAAAAEFw/AhFWeFheOugRjXy01rQPCdQZnd5RdaKpQCLcBGAsYHQ/s320/redes.png')
nav#nav.position-fixed.w-100.navbar.navbar-expand-lg.navbar-dark
    img.rounded-circle.d-block.d-lg-none(width='30px' src='https://1.bp.blogspot.com/-FkIwKbJ61HE/X39dHSmo5_I/AAAAAAAAEF0/7yb15z__eDAZTY9muFA8ujIpwZFk5ncJgCLcBGAsYHQ/s0/edwinvisuales.png')
    a.navbar-brand(href='#') Edwin Visuales Blog 
    button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarNav' aria-controls='navbarNav' aria-expanded='false' aria-label='Toggle navigation')
        span.navbar-toggler-icon
    #navbarNav.collapse.navbar-collapse
        ul.navbar-nav
            li.nav-item.pt-3
                i.material-icons.text-white.float-right search
            li.nav-item.active
                a.nav-link.float-right(href='#')
                    | Inicio 
                    span.sr-only (current)
            li.nav-item.active
                a.nav-link.float-right(href='#') Audiovisuales
            li.nav-item.active
                a.nav-link.float-right(href='#') Desarrollo Web
            li.nav-item.active
                a.nav-link.float-right(href='#') Diseño Gráfico
