b:widget#Blog1(locked="false" title="Entradas" type="Blog" version="1")
    b:includable(id="main" var="post")
        b:loop(var="i"  values="data:posts")
            .row.publicaciones
                .col-12.p-0.md-auto
                    h4.h1.text-center.mb-3.mx-1.m-lg-0
                        |<data:i.title/>
                    a.text-center.my-2.figure-caption.d-none.d-md-block(expr:href='data:i.url')
                        | <data:i.timestamp/> - <data:i.numComments/> - comentarios
                    figure
                        a(expr:href='data:i.url')
                            img.mb-4.img-fluid.article-img(src="")
                .col-12.col-lg-9
                    .container
                         |<data:i.body/>
                aside#rightbar.col-12.col-lg-3.p-0
                    include rightbar.pug
