b:widget#Blog1(locked="no" title="Entradas" type="Blog" version="1")
    b:includable(id="main" var="post")
        .container
            b:loop(var="i"  values="data:posts")
                .row.publicaciones
                    .col-12.p-0.md-auto
                        h4.h1.text-center.mb-3.mx-1.m-lg-0
                            | <data:i.title/>
                        b:if(cond="data:view.isPost || data:view.isHomepage")
                            a.text-center.my-2.figure-caption(expr:href='data:i.url')
                                | <data:i.timestamp/> - <data:i.numComments/> - comentarios
                            figure
                                a(expr:href='data:i.url')
                                    img.mb-4.img-fluid.article-img(src="")
                    .col-12.col-lg-8.px-0
                        | <data:i.body/>
//aside#rightbar.col-12.col-lg-3.p-0.offset-0.offset-lg-1
    include rightbar.pug

