.container.mt-3.mb-1
    b:if(cond="data:view.isHomepage")
        //HIGHTLIGHTS POSTS
        #hightlight
            include hightlights.pug
        //RECIENTES
.container.mt-4
        b:section#recientes(growth="horizontal" maxwidgets="" showaddelement="yes")
            include recientes.pug
.container.mt-4
    //MAIN SECTION 
    main.my-3.text-light
        b:class(name="mt-4" cond="data:view.isHomepage != true")
            include posts.pug
