.container-xl.bg-purple.shadow-lg
    .row
        //HIGHTLIGHTS POSTS
        #hightlights.col-12
            include hightlights.pug

        .col-12.col-lg-9
            //RECIENTES
            #recientes.mb-3
                include recientes.pug

            //MAIN SECTION 
            main.mb-3.bg-light.rounded
                .container-fluid
                    include main.pug

        //RIGHT SIDEBAR
        #rightbar.col-12.col-lg-3.text-white.radius
            include rightbar.pug
