#load_screen
    #loading
        | loading
b:if(cond="data:view.isHomepage")
    .container.mt-3.mb-1
        //HIGHTLIGHTS POSTS
        #hightlights
            include hightlights.pug
    //RECIENTES
    main#recientes.container.mt-4
        h3.font-italic.border-title.h4.pb-1
            |Articulos Recientes
        .row#articulos
            //LOOP
            - for (let i = 0; i < 3; i++) {
                include recientes.pug
            - }
//MAIN SECTION
.container
    b:if(cond="data:view.isPost")
        .row.publicaciones
            .col-12.p-0.md-auto
                h4.h1.text-center.mb-3.mx-1.m-lg-0
                    a.text-center.my-2.figure-caption()
                    figure
                        a(href="")
                            img.mb-4.img-fluid.article-img(src="")
            .col-12.col-lg-8.px-0
                b:section#postss(preferred="yes" growth="horizontal" maxwidgets="" showaddelement="yes")
                    b:widget#Blog12(locked="no" title="Entradas" type="Blog" version="1")/
        b:else/
        b:section#posts(preferred="yes" growth="horizontal" maxwidgets="" showaddelement="yes")
            include blog.pug
