.container-xl.shadow-lg.bg-purple
    .row

        b:if(cond="data:blog.url == data:blog.homepageUrl")
            //HIGHTLIGHTS POSTS
            #hightlights.col-12
                include hightlights.pug

        .col-12.col-lg-9
            b:if(cond="data:blog.url == data:blog.homepageUrl")
                //RECIENTES
                #recientes.text-white
                    include recientes.pug
            //MAIN SECTION 
            main.my-3.rounded.text-white.p-3.bg-purple-light
                include main.pug

        //RIGHT SIDEBAR
        #rightbar.col-12.col-lg-3.text-white.radius
            include rightbar.pug
