.container-fluid.container-lg.shadow-lg.bg-purple
    .row
        .col-12
            //b:section(id="fuck" showaddelement="yes") 
                //include test.pug 
        b:if(cond="data:blog.url == data:blog.homepageUrl").container-fluid
            //HIGHTLIGHTS POSTS
            #hightlights.container-fluid
                include hightlights.pug

        .col-12.col-lg-8
                //RECIENTES
                #recientes.text-white
                    include recientes.pug
                //MAIN SECTION 
                main.container.my-3.text-white
                    include posts.pug

        //RIGHT SIDEBAR
        #rightbar.col-12.col-lg-4.text-white.radius
            .container
                include rightbar.pug
