#load_screen
    #loading
        | loading

b:if(cond="data:view.isHomepage")
    .container.mt-3.mb-1
        //HIGHTLIGHTS POSTS
        #hightlights
            include hightlights.pug
    //RECIENTES
    main#recientes.container.mt-4
        h3.font-italic.border-title.h4.pb-1
            |Articulos Recientes
        .row#articulos
            //LOOP
            include recientes.pug
            include recientes.pug
            include recientes.pug
//MAIN SECTION
.container
    b:section#posts(growth="horizontal" maxwidgets="" showaddelement="yes")
        include blog.pug
