.container.text-white.p-1.text-center
    b:section#footer(preferred="yes" showaddelement="yes")
        
    p.my-auto
        |Blogger Theme designed by Edwin Visuales | 2020 
    .col-2.d-none-d-xl-block(style='background-color:black;')

    //script 
        include js/scripts.js
