.container.text-white.p-1.text-center.mt-4
    b:section#footer( showaddelement="yes")
        
    p.my-auto
        |Blogger Theme designed by Edwin Visuales | 2020 

    p.-my-auto
        | Este blog está en desarrollo
    p.my-auto
        a(href="https://github.com/edwinvisuales/edwinvisuales-blog-theme/")
            i.bi-github.mx-2(role="img" aria-label="Github") 
    .col-2.d-none-d-xl-block(style='background-color:black;')

    //script 
        include js/scripts.js
