nav.navbar.navbar-expand-lg.navbar-dark.bg-negro
    .container
        a.navbar-brand#homepage(expr:href='data:blog.homepageUrl')
            if html
                .h5.p-0.m-0
                    | Edwin Visuales blog
            else
                b:if(cond="data:view.isHomepage")
                    h1.h5.p-0.m-0
                        <data:blog.title/>
                    b:else/
                    .h5.p-0.m-0
                        <data:blog.title/>
 
        button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
            span.navbar-toggler-icon
        #navbarSupportedContent.collapse.navbar-collapse
            ul.navbar-nav.mr-auto
                if html
                    li.nav-item.active
                        a.nav-link(href="#")
                            | Inicio 
                            span.sr-only
                                | (current)
                else 
                    li.nav-item
                        b:class(name="active" cond='data:view.isHomepage')
                        a.nav-link(expr:href="data:blog.homepageUrl")
                            | Inicio 
                            span.sr-only
                                | (current)
                li.nav-item
                    a.nav-link(href="https://edwinvisuales.blogspot.com/p/sobre-mi.html")
                        | Sobre mi

            //form.form-inline.my-2.my-lg-0
                input.outline-dark.bg-negro.form-control.mr-sm-2(type='search' placeholder='Buscar' aria-label='Search')
                button.btn.btn-outline-dark.my-2.my-sm-0(type='submit') Buscar 
//.container
    h2.text-center.my-4.text-light
        | Edwin Visuales blog 
