nav.navbar.navbar-expand-md.yellow-border
    .container
        a.navbar-brand(href='#') Edwin Visuales Blog 
        button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
        span.navbar-toggler-icon
        #navbarSupportedContent.collapse.navbar-collapse
            ul.navbar-nav.mr-auto.float-right
                li.nav-item.active
                    a.nav-link(href='#')
                        | Inicio 
                        span.sr-only (current)
                li.nav-item
                    a.nav-link(href="#")
                        | Sobre mi
