nav.navbar.navbar-expand-md.yellow-border.navbar-dark.bg-negro
    .container
        a.navbar-brand(expr:href='data:blog.homepageUrl')
            if html
                | Edwin Visuales Blog
            else
               <data:blog.title/>
        button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
            span.navbar-toggler-icon
        #navbarSupportedContent.collapse.navbar-collapse
            ul.navbar-nav.mr-auto
                li.nav-item
                    b:class(name="active" cond='data:blog.pageType == "index"')
                    a.nav-link(expr:href="data:blog.homepageUrl")
                        | Inicio 
                        span.sr-only
                            | (current)
                li.nav-item
                    a.nav-link(href="#")
                        | Sobre mi
