<?xml version="1.0" encoding="UTF-8" ?>
html(xmlns='http://www.w3.org/1999/xhtml' xmlns:b='http://www.google.com/2005/gml/b' xmlns:data='http://www.google.com/2005/gml/data' xmlns:expr='http://www.google.com/2005/gml/expr')
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        title Edwin's blog
        b:skin
            link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css' integrity='sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z' crossorigin='anonymous')
            link(href='https://fonts.googleapis.com/icon?family=Material+Icons' rel='stylesheet')
            style
                include styles.css
    .container-fluid
        #back.row(style="background-image: url('https://1.bp.blogspot.com/-J2lO1YTc2FE/X39dPsFImWI/AAAAAAAAEF4/nHUTU5E127gDx-PRQy-SewS9aUFWTpyZgCLcBGAsYHQ/s16000/back.png');") 
