.p-3
    .row
        .col-12.col-md-6.p-0.m-0
            article
                figure.position-relative
                    img.img-fluid.photo-1.p-0.mb-2.m-md-0(src='https://www.coupdemainmagazine.com/sites/default/files/styles/hero_image/public/article/14649/hero-14649-1827449868.jpg?itok=xFLvjHrT')
                    .info.info-1.mb-2.m-md-0 
                        |Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        .col-12.col-md-3.p-0.m-0
            article
                figure.position-relative
                    img.img-fluid.photo-2.p-0.mb-2.m-md-0(src='https://www.coupdemainmagazine.com/sites/default/files/styles/hero_image/public/article/14649/hero-14649-1827449868.jpg?itok=xFLvjHrT')
                    .info.info-2.mb-2.m-md-0 
                        | Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            article
                figure.position-relative
                    img.img-fluid.photo-3.p-0.mb-2.m-md-0(src='https://www.coupdemainmagazine.com/sites/default/files/styles/hero_image/public/article/14649/hero-14649-1827449868.jpg?itok=xFLvjHrT')
                    .info.info-3.mb-2.m-md-0 foto 3
        .col-12.col-md-3.p-0.m-0
            article
                figure.position-relative
                    img.img-fluid.photo-4.p-0.mb-2.m-md-0(src='https://www.coupdemainmagazine.com/sites/default/files/styles/hero_image/public/article/14649/hero-14649-1827449868.jpg?itok=xFLvjHrT')
                    .info.info-4.mb-2.m-md-0 foto 4444
            article
                figure.position-relative
                    img.img-fluid.photo-5.p-0.mb-2.m-md-0(src='https://www.coupdemainmagazine.com/sites/default/files/styles/hero_image/public/article/14649/hero-14649-1827449868.jpg?itok=xFLvjHrT')
                    .info.mb-2.m-md-0 foto 5
