.row
    .col-12.col-lg-8.p-0.pr-lg-0
        article
            a(href="")
                figure.position-relative.photo-1.highlight
                    img.img-fluid.responsive-img(src='')
                    .info
    .col-12.col-lg-4.p-0.pl-lg-0.pb-0.mb-0
        article
            a(href="")
                figure.position-relative.photo-2.highlight
                    img.img-fluid.responsive-img(src='')
                    .info
        article
            a(href="")
                figure.position-relative.photo-3.highlight
                    img.img-fluid.responsive-img(src='')
                    .info
