.row
    .col-12.col-lg-8.p-0.pr-lg-0
        article
            a(href="#")
                figure.position-relative.photo-1.highlight
                    img.img-fluid.responsive-img(src='https://1.bp.blogspot.com/-Inh7IVohuuc/V_9xBElvbGI/AAAAAAAAA2k/PVeOPkhVDrQrpH5bi-qzZUvqBhyIkNOrgCLcB/s640/conocimiento-internet.jpg')
                    .info
                        | 1
    .col-12.col-lg-4.p-0.pl-lg-0.pb-0.mb-0
        article
            a(href="#")
                figure.position-relative.photo-2.highlight
                    img.img-fluid.responsive-img(src='https://www.coupdemainmagazine.com/sites/default/files/styles/hero_image/public/article/14649/hero-14649-1827449868.jpg?itok=xFLvjHrT')
                    .info
                        | 2
        article
            a(href="#")
                figure.position-relative.photo-3.highlight
                    img.img-fluid.responsive-img(src='https://www.coupdemainmagazine.com/sites/default/files/styles/hero_image/public/article/14649/hero-14649-1827449868.jpg?itok=xFLvjHrT')
                    .info
                        | 3
    //.col-12.col-lg-3.p-0.m-0
        article
            a(href="#")
                figure.position-relative.photo-4.highlight
                    img.img-fluid.responsive-img(src='https://www.coupdemainmagazine.com/sites/default/files/styles/hero_image/public/article/14649/hero-14649-1827449868.jpg?itok=xFLvjHrT')
                    .info
                        | 4
        article
            a(href="#")
                figure.position-relative.photo-5.highlight
                    img.img-fluid.responsive-img(src='https://www.coupdemainmagazine.com/sites/default/files/styles/hero_image/public/article/14649/hero-14649-1827449868.jpg?itok=xFLvjHrT')
                    .info
                        | 5
