.p-3
    .row
        .col-12.col-md-6.p-0.m-0
            article
                figure.position-relative.photo-1.hide-border
                    img.img-fluid.p-0.mb-2.m-md-0.height-300(src='https://www.coupdemainmagazine.com/sites/default/files/styles/hero_image/public/article/14649/hero-14649-1827449868.jpg?itok=xFLvjHrT')
                    .info.mb-2.m-md-0
                        | 1
        .col-12.col-md-3.p-0.m-0
            article
                figure.position-relative.photo-2.hide-border
                    img.img-fluid.p-0.mb-2.m-md-0.height-150(src='https://www.coupdemainmagazine.com/sites/default/files/styles/hero_image/public/article/14649/hero-14649-1827449868.jpg?itok=xFLvjHrT')
                    .info.mb-2.m-md-0
                        | 2
            article
                figure.position-relative.photo-3.hide-border
                    img.img-fluid.p-0.mb-2.m-md-0.height-150(src='https://www.coupdemainmagazine.com/sites/default/files/styles/hero_image/public/article/14649/hero-14649-1827449868.jpg?itok=xFLvjHrT')
                    .info.mb-2.m-md-0
                        | 3
        .col-12.col-md-3.p-0.m-0
            article
                figure.position-relative.photo-4.hide-border
                    img.img-fluid.p-0.mb-2.m-md-0.height-150(src='https://www.coupdemainmagazine.com/sites/default/files/styles/hero_image/public/article/14649/hero-14649-1827449868.jpg?itok=xFLvjHrT')
                    .info.mb-2.m-md-0 4444
            article
                figure.position-relative.photo-5.hide-border
                    img.img-fluid.p-0.mb-2.m-md-0.height-150(src='https://www.coupdemainmagazine.com/sites/default/files/styles/hero_image/public/article/14649/hero-14649-1827449868.jpg?itok=xFLvjHrT')
                    .info.mb-2.m-md-0 foto 5
