#about
    img.img-fluid.rounded-circle.p-2(src='https://1.bp.blogspot.com/-FkIwKbJ61HE/X39dHSmo5_I/AAAAAAAAEF0/7yb15z__eDAZTY9muFA8ujIpwZFk5ncJgCLcBGAsYHQ/s0/edwinvisuales.png' alt='...')
    h2.h5.text-center Edwin Chauran
    p Bienvenido a WordPress. Esta es tu primera entrada.
    .d-flex.pt-2
        i#openSearch.material-icons.text-white.p-1 search
        input#buscador(type='search')
nav#leftNav.pt-3
    ul.nav.flex-column
        li.nav-item
            a.nav-link.p-0.text-purple-2( href='#') Inicio
        li.nav-item
            a.nav-link.p-0.text-purple-2(href='#') Audiovisuales
        li.nav-item
            a.nav-link.p-0.text-purple-2(href='#') Desarrollo Web
        li.nav-item
            a.nav-link.p-0.text-purple-2(href='#') Diseño Gráfico
        li.nav-item
            a.nav-link.p-0.text-purple-2(href='#') Sobre mi
img.px-3.img-fluid.w-100.position-absolute(src='https://1.bp.blogspot.com/-jRNInoFMKEQ/X39dG48u_9I/AAAAAAAAEFw/AhFWeFheOugRjXy01rQPCdQZnd5RdaKpQCLcBGAsYHQ/s320/redes.png' style='left:0; bottom:20px;cursor: pointer;')
