//Header, Blog, Profile, PageList, AdSense, Attribution, HTML"
b:section#main(growth="vertical" maxwidgets="" showaddelement="yes")
    b:widget#Blog1.row(locked="false" title="Blog Posts" type="Blog" version="1")/
