article.col-12.col-lg-4.p-0.p-lg-2.mb-3.mb-md-auto
    figure.figure-img
        a(href='')
            img.responsive-img-recientes.my-2.img-fluid(src='')
        // POST TITLE
        h4.p-1.p-md-0.h4.m-0.col-12.col-4
            a.text-purple-2(href='')
        // DATE
        a.text-purple-muted.mx-0.mb-0.mt-2.p-1.p-md-0(href='') 
