b:widget#Blog1.row(locked="false" title="Entradas" type="Blog" version="1")
    //INDIVIDUAL POSTS
    b:includable(id="main" var="post")
        b:if(cond="data:view.isHomepage")
            h3.pb-1.pt-0.pl-1.font-italic.border-title.h4.px-auto.recientes
                |Articulos Recientes
            //LOOP
            b:loop(var='i'  values='data:posts')
                article.col-12.mt-2.mx-0.py-3.p-md-2.rounded-lg
                    .row
                        figure.col-12.col-md-4.figure-img
                            a(expr:href='data:i.url')
                                img.my-3.img-fluid.rounded-sm(src="")
                        .col-12.col-md-8
                            // POST TITLE
                            h4.h4.p-0.m-0
                                a.text-purple-2(expr:href='data:i.url')
                                   |<data:i.title/>
                            //RESUME
                            p.resume.text-justify
                            // DATE
                            a.text-purple-muted.d-block.d-md-none.p-0.mx-0.mb-0.mt-2(expr:href='data:posts.url') 
                                | Publicado en <data:i.timestamp/> - <data:i.numComments/> - comentarios
                            a.text-purple-2.d-none.d-md-block.mt-1.bg-purple-hover(expr:href='data:posts.url') Leer más
                            // DATE FOR MOBILES
                            a.text-purple-muted.mt-1.mb-2.figure-caption.d-none.d-md-block(expr:href='data:posts.url') 
                                | Publicado en <data:i.timestamp/> - <data:i.numComments/> - comentarios
                                
                    |<data:i.body/>
