b:section#sidebar(preferred="yes" showaddelement="yes")
//search
//#about
    .d-flex.pt-2
        i#openSearch.material-icons.text-white.p-1 search
        input#buscador(type='search')

p.h5.my-2.font-italic.border-title.pb-1.mt-4
    | Artículos Relacionados
a(href='https://edwinvisuales.blogspot.com/2018/10/todos-tenemos-acceso-internet-esa-gran.html') 
    img.img-fluid.mb-1(src='https://1.bp.blogspot.com/-Inh7IVohuuc/V_9xBElvbGI/AAAAAAAAA2k/PVeOPkhVDrQrpH5bi-qzZUvqBhyIkNOrgCLcB/s640/conocimiento-internet.jpg' alt='...')
a.text-purple-2(href='https://edwinvisuales.blogspot.com/2018/10/todos-tenemos-acceso-internet-esa-gran.html') Lo bueno de ser autodidacta 
hr
a(href='https://edwinvisuales.blogspot.com/2018/10/python-la-vez-que-intentaron-ensenarlo.html')
    img.img-fluid.mb-1(src='https://1.bp.blogspot.com/-9vmNer8qa_4/XLXzrfvMIqI/AAAAAAAADjE/wXLy79o0g8kMp2PFTR11HedC4ZBH1F_1ACK4BGAYYCw/s640/1_d27A5K4i63BktGDEg25hqA.jpeg' alt='...')
a.text-purple-2(href='https://edwinvisuales.blogspot.com/2018/10/python-la-vez-que-intentaron-ensenarlo.html') Python, la vez que intentaron enseñarlo a estudiantes de Audiovisuales  