b:section#sidebar(preferred="yes" showaddelement="yes")
 //search
//#about
    .d-flex.pt-2
        i#openSearch.material-icons.text-white.p-1 search
        input#buscador(type='search')

p.h5.my-2.font-italic.border-title.pb-1.text-light.mt-4
    | Artículos Relacionados
img.img-fluid.mb-1(src='https://www.coupdemainmagazine.com/sites/default/files/styles/hero_image/public/article/14649/hero-14649-1827449868.jpg?itok=xFLvjHrT' alt='...')
a.text-purple-2(href='/articulo.html') Lorem ipsum dolor sit amet consectetur
hr
img.img-fluid.mb-1(src='https://www.coupdemainmagazine.com/sites/default/files/styles/hero_image/public/article/14649/hero-14649-1827449868.jpg?itok=xFLvjHrT' alt='...')
a.text-purple-2(href='/articulo.html') Lorem ipsum dolor sit amet consectetur
hr
img.img-fluid.my-2(src='https://1.bp.blogspot.com/-5ZbYcvfgEUY/X39dCs0tCAI/AAAAAAAAEFs/1LoxLrIt2HQycOknWc6jAHdS-VjDOucpQCLcBGAsYHQ/s16000/ad03.png' alt='...')
hr
img.img-fluid.mb-1(src='https://www.coupdemainmagazine.com/sites/default/files/styles/hero_image/public/article/14649/hero-14649-1827449868.jpg?itok=xFLvjHrT' alt='...')
a.text-purple-2(href='/articulo.html') Lorem ipsum dolor sit amet consectetur
hr
img.img-fluid.mb-1(src='https://www.coupdemainmagazine.com/sites/default/files/styles/hero_image/public/article/14649/hero-14649-1827449868.jpg?itok=xFLvjHrT' alt='...')
a.text-purple-2(href='/articulo.html') Lorem ipsum dolor sit amet consectetur
hr
