b:widget#PageList1(locked='false' title='Páginas' type='PageList')
    b:includable#main
        b:loop(var='post' values='data:posts' index='i')
            div
                h3
                    b:eval(expr='data:i + 1')
                        | .
                        <data:post.title/>
            div
                <data:post.body/>

        .widget-content
            b:if(cond='data:mobile')
                select(expr:id='data:widget.instanceId + "_select"')
                    option(expr:value='data:link.href' selected='selected')
                    option(expr:value='data:link.href')
                span.pagelist-arrow &#9660;
                b:else
                    ul
                        b:loop(values='data:links' var='link')
                            b:if(cond='data:link.isCurrentPage')
                                li.selected
                                    a(expr:href='data:link.href')
                                        data:link.title
                                b:else
                                    li
                                        a(expr:href='data:link.href')
                                            data:link.title
            b:include(name='quickedit')
