|<?xml version="1.0" encoding="UTF-8" ?>
html(xmlns='http://www.w3.org/1999/xhtml' xmlns:b='http://www.google.com/2005/gml/b' xmlns:data='http://www.google.com/2005/gml/data' xmlns:expr='http://www.google.com/2005/gml/expr')
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        title Edwin's blog
        link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css' integrity='sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z' crossorigin='anonymous')
        link(href='https://fonts.googleapis.com/icon?family=Material+Icons' rel='stylesheet')
        - var html = true 
        if html
            style
                include partials/css/styles.css
        else
            b:skin 
                | <![CDATA[
                include partials/css/styles.css
                | ]]>

    //BANNER - HEADER
    header
        include partials/header.pug
    body
        include partials/body.pug
    footer
        include partials/footer.pug
