include partials/head.pug

    //BANNER - HEADER
    header.col-12.col-xl-10.p-0.d-flex.justify-content-center
        include partials/banner.pug
    body.bg-purple-2

        //LEFT - SIDEBAR
        //#leftbar.col-lg-2.offset-0.offset-xl-1.text-white.d-none.d-lg-block.bg-purple
            include partials/leftbar.pug

        //HIGHTLIGHTS POSTS
        #hightlights.col-12.col-xl-8.bg-white
            .container
                include partials/hightlights.pug

        //MAIN SECTION 
        main.recientes.col-12.col-lg-8.col-xl-6.pb-3.pb-md-0.bg-white
            include partials/main.pug

        //RIGHT SIDEBAR
        //#rightbar.col-12.col-md-2.rightbar.px-md-2.py-md-1.bg-purple
            include partials/rightbar.pug

    //FOOTER
    footer.p-1.col-12.col-xl-6.text-center.text-white.offset-0.offset-xl-3
        include partials/footer.pug
